/*Asmaa El Abdi, Mathieu Morier */

body {
    
    background-image: url("baseball2.jpg");
    background-position-y: 100%; 
    background-size: 50% 80%; 
    background-repeat: no-repeat;
    font-family: Arial;
}

/* Style barre de navigation */
nav {
    background-image:linear-gradient(to right, red , #012D8A);
    overflow: hidden;
}

nav a{
   float:left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

nav a:hover {
     background-color: #f2f2f2 ;
     color: black;
}

/* Style du titre */
#titre {
    font-size: 220%;
    text-align: center;  
}

